#nav-g-logo {
    height: 50px;
    width: auto;
}

.divCenter {
    /*width: 80%;*/
    height: 500px;
    border-radius: 21px;
    flex-wrap: wrap;
}

.workCenter {
    height: 500px;
    border-radius: 21px;

}

.avatarImgHolder {
    align-self: center;
    width: 250px;
    height: 250px;
    margin: auto;
    overflow: hidden;
}

.avatarImg {

    width: 350px;
    height: auto;
    position: relative;
    left: -23%;

}

h2 {
    font-family: 'Red Hat Display', sans-serif;
}

p {
    font-family: 'Red Hat Display', sans-serif;
}

.customCard {
    margin-top: 40px;
    overflow: scroll;
    /*width: 25%;*/
}
